   /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dae0e2;
    box-shadow: 3px 13px 17px 0px #e6e6e6;
    z-index: 99;
    transition: all 0.3s ease;
  }

  .sticky a, .sticky i, .sticky h1 {
    color: #000000;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: .6px;
  }

  .sticky .dropdown-menu-content li {
    font-weight: 500;
    color: #444;
  }

  .sticky h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 1px;
  }

  .sticky a:hover {
    color:#2250fc;
  }

  .hamburger:focus {
    outline: none;
  }

  .hamburger:active {
    background: none;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }